.trackerwg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-image: url('../Assets/calc.jpg');  /* Background image for the trackerwg page */
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.trackerwg-title {
  font-size: 28px; /* Larger title font size */
  margin-bottom: 30px; /* Increased margin bottom */
  color: #ffffff; /* White title color */
}

.trackerwg-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Increased margin bottom */
}

.trackerwg-item label {
  color: #ffffff; /* White label color */
  margin-right: 40px; /* Adjusted margin-right for more space */
}

.trackerwg-item input {
  padding: 12px; /* Increased input padding */
  border-radius: 6px; /* Slightly increased border radius */
  border: 1px solid #ffffff; /* White border */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  color: #333333; /* Darker text color */
}

.trackerwg-button {
  padding: 10px 16px; /* Increased padding for larger button */
  font-size: 14px; /* Increased font size for larger button */
  width: 300px; /* Increased width */
  border: none;
  border-radius: 4px; /* Adjusted border radius */
  background-color: #F96167; /* Match the primary color */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.trackerwg-button:hover {
  background-color: #D84951; /* Slightly darker on hover */
}
